/*Контейнеру установили перспективу*/
.container {
    width: 290px;
    height: 180px;
    position: relative;
    perspective: 500px; /*!!!*/
}
#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d; /*Наследуем от родителя перспективу*/
    transition: transform 1s;
    color: #ffffff;
}
#card figure {
    margin: 0;
    display: block;
    position: absolute; /*Сбрасываем зависимости 2d пространства чтобы расположить грани в 3d. Распологаем 2 стороны карты друг над другом*/
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 30px;
    text-align: center;
}
#card .front {
    background-size: cover;
    background-image: url("../img/front.png");
}
#card .back {
    background-size: cover;
    background-image: url("../img/back.png");
    transform: rotateY(180deg); /*Сразу разворачиваем невидимой строной*/
}
#card.flipped {
    transform: rotateY(180deg); /*Разворачиваем карту*/
}
