.c-gradient {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-image: repeating-linear-gradient(to left top, #747474 0px , #747474 10px, #e7edcd 10px, #e7edcd 20px);
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px;
}