.c-transform {
    width: 90%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
