@import "c-gradient.css";
@import "c-transform.css";
@import "b-rectangle.css";
@import "m-rectangle_grad-to-top-left.css";
@import "m-rectangle_grad-at-center.css";
@import "m-rectangle_scale.css";
@import "b-card.css";
@import "m-card-rotate.css";

body {
    background-color: gainsboro;
}
h1 {
    text-align: center;
    font-style: italic;
}